<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <title>TITANIC GAME</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/static/css/ocean.css"/>
    <script type="text/javascript" src="/static/js/ocean.js"></script>
</head>

<body>
<div>
    <div>OCEAN</div>
    <div id="result">
        Now is turn of <span>{{ game.player_in_round.name }}</span>
        {% if message %}
        <h1>{{ message }}</h1>
        {% endif %}
        <table class="table-bordered">
            {% for row in game.player_in_round.ocean.enemy_board %}
            {% set count = loop.index %}
            <tr>
                {% for cell in row %}
                {% set count = count+loop.index %}
                <td>
                    {% if cell.is_hit == False %}
                    <form action="/update_ocean" method="post">
                        <input type="hidden" name="{{ count }}">
                        <p>{{count}}</p>
                        <input type="submit" value="~"/>
                    </form>
                    {% elif cell.is_hit %}
                    {% if cell.is_element_of_ship %}
                    <p>X</p>
                    {% else %}
                    <p>.</p>
                    {% endif %}
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
    <form action="/refresh_simulation" method="post">
        <input type="submit">
    </form>
</div>
</body>


</html>
